<!--register form -->
<div id="cover-modal" class="main-register-wrap modal">
    <div class="main-overlay"></div>
    <div class="main-register-holder">
        <div class="main-register fl-wrap">
            <div class="close-reg"><i class="fa fa-times"></i></div>
            <h3>Cambiar foto de portada</h3>

            <div class="soc-log fl-wrap">
                <div class="img-container">
                  <img id="cropper_image" style="max-width: 100%;" src="https://avatars0.githubusercontent.com/u/3456749">
                </div>                            
            </div>
                        
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="crop">Crop</button>
          </div>        
        </div>
    </div>
</div>
<!--register form end -->