{% extends 'base.html' %}

{% load static %}
{% load ui_components %}
{% load widget_tweaks %}

{}

{% block 'content' %}
<!--section --> 
<section id="sec1">
    <!-- container -->
    <div class="container">
        <!-- profile-edit-wrap -->
        <div class="profile-edit-wrap">
            <div class="profile-edit-page-header">
                <h2>Add Listing</h2>
                <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Add Listing</span></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="fixed-bar fl-wrap">
                        <div class="user-profile-menu-wrap fl-wrap">
                            <!-- user-profile-menu-->
                            <div class="user-profile-menu">
                                <h3>Main</h3>
                                <ul>
                                    <li><a href="dashboard-myprofile.html"><i class="fa fa-user-o"></i> Edit profile</a></li>
                                    <li><a href="dashboard-messages.html"><i class="fa fa-envelope-o"></i> Messages <span>3</span></a></li>
                                    <li><a href="dashboard-password.html"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                                </ul>
                            </div>
                            <!-- user-profile-menu end-->
                            <!-- user-profile-menu-->
                            <div class="user-profile-menu">
                                <h3>Listings</h3>
                                <ul>
                                    <li><a href="dashboard-listing-table.html"><i class="fa fa-th-list"></i> My listigs  </a></li>
                                    <li><a href="dashboard-bookings.html"> <i class="fa fa-calendar-check-o"></i> Bookings <span>2</span></a></li>
                                    <li><a href="dashboard-review.html"><i class="fa fa-comments-o"></i> Reviews </a></li>
                                    <li><a href="dashboard-add-listing.html" class="user-profile-act"><i class="fa fa-plus-square-o"></i> Add New</a></li>
                                </ul>
                            </div>
                            <!-- user-profile-menu end-->                                        
                            <a href="#" class="log-out-btn">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <form action="" method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}

                        {{ form.errors }}
                        {{ localsocial_formset.errors }}
                        {{ localschedule_formset.errors }}
                        <!-- profile-edit-container--> 
                        <div class="profile-edit-container add-list-container">
                            <div class="profile-edit-header fl-wrap">
                                <h4>Información básica</h4>
                            </div>
                            <div class="custom-form">
                                {% ui_input form.name 'briefcase' %}
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        {% ui_input form.category %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tags <i class="fa fa-key"></i></label>
                                        <input type="text" value=""/>
                                    </div>
                                </div>

                                {% ui_input form.description %}
                            </div>
                        </div>
                        <!-- profile-edit-container end--> 

                        <!-- profile-edit-container--> 
                        <div class="profile-edit-container add-list-container">
                            <div class="profile-edit-header fl-wrap">
                                <h4>Localización /  Contactos</h4>
                            </div>
                            <div class="custom-form">
                                {% ui_input form.address 'map-marker' %}                                

                                <div id="inputMap"></div>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% ui_input form.longitude 'globe' %}                                        
                                    </div>
                                    <div class="col-md-6">
                                        {% ui_input form.latitude 'globe' %}
                                    </div>
                                </div>
                                {% ui_input form.phone 'phone' %}
                                {% ui_input form.mail 'envelope-o' %}
                                {% ui_input form.webpage 'globe' %}
                                                            
                            </div>
                        </div>
                        <!-- profile-edit-container end-->                                         

                        <!-- profile-edit-container--> 
                        <div class="profile-edit-container add-list-container">
                            <div class="profile-edit-header fl-wrap">
                                <h4>Detalles</h4>
                            </div>
                            <div class="custom-form">                            
                                <!-- Checkboxes -->
                                <div class=" fl-wrap filter-tags">
                                    <h4>Comodidades </h4>
                                    {% ui_input form.amenities %}
                                    
                                </div>
                            </div>
                        </div>
                        <!-- profile-edit-container end--> 

                        <!-- profile-edit-container--> 
                        <div class="profile-edit-container">
                            <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                                <h4>Horario de atención</h4>
                            </div>
                            <div class="custom-form">
                                {{ localschedule_formset.management_form }}
                                <div class="row">
                                {% for form in localschedule_formset %}
                                {{ form.id }}
                                {{ form.day }}
                                    <div class="col-sm-6 col-md-4">
                                        <div class="act-widget fl-wrap">
                                            <div class="act-widget-header">
                                                <h4>{{ form.name.initial }}</h4>
                                                {% ui_switch form.is_open %}
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    {% ui_input form.open_hour %}
                                                </div>
                                                <div class="col-xs-6">
                                                    {% ui_input form.close_hour %}
                                                </div>
                                            </div>  
                                        </div>                                        
                                    </div>                                
                                {% endfor %}                                                               
                                </div>

                            </div>
                        </div>
                        <!-- profile-edit-container end--> 

                                                                
                        <!-- profile-edit-container--> 
                        <div class="profile-edit-container">
                            <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                                <h4>Redes Sociales</h4>
                            </div>
                            <div class="custom-form">                                
                                {{ localsocial_formset.management_form }}

                                {% for form in localsocial_formset %}
                                    {{ form.id }}
                                    {% if form.instance.pk is None%}                                    
                                    <label>{{ form.social.initial }} 
                                        <i class="fa fa-{{ form.social.initial.icon }}"></i>
                                    </label>
                                    {% else %}
                                    <label>{{ form.instance.social }} 
                                        <i class="fa fa-{{ form.instance.social.icon }}"></i>
                                    </label>
                                    {% endif %}
                                    {{ form.social }}
                                    {{ form.url }}
                                {% endfor %}                                
                                <button type="submit" class="btn big-btn  color-bg flat-btn">Guardar
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                        <!-- profile-edit-container end--> 
                    </form>  
                </div>
            </div>
        </div>
        <!--profile-edit-wrap end -->
    </div>
    <!--container end -->
</section>
<!-- section end -->    
<div class="limit-box fl-wrap"></div>
<!--section -->
<section class="gradient-bg">
    <div class="cirle-bg">
        <div class="bg" data-bg="{% static 'images/bg/circle.png' %}"></div>
    </div>
    <div class="container">
        <div class="join-wrap fl-wrap">
            <div class="row">
                <div class="col-md-8">
                    <h3>Do You Have Questions ?</h3>
                    <p>Lorem ipsum dolor sit amet, harum dolor nec in, usu molestiae at no.</p>
                </div>
                <div class="col-md-4"><a href="contacts.html" class="join-wrap-btn">Get In Touch <i class="fa fa-envelope-o"></i></a></div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
{% endblock %}
{% block extrajs %}
    {% include 'base/js_maps.html' %}
    <script type="text/javascript" src="{% static 'js/plugins/locationpicker/locationpicker.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/places/add_local.js' %}"></script>
{% endblock %}